.btn {
  margin-bottom: 5px;
  display: inline-block;
  padding: 0.75em 1.25em;
  background: $color-primary-link;
  border-radius: 0.5em;
  color: #fff;
  font-weight: inherit;
  text-shadow: none;

  &:hover,
  &:focus {
    background: shade($color-primary-link, 15%);
    text-decoration: none;
    color: #fff;
  }

  svg {
    vertical-align: -1px;
  }
}

.badge {
  display: inline-block;
  margin: 10px 5px;
}
