<% oauth_tokens_ds = rodauth.scope.instance_variable_get(:@oauth_tokens) %>
<% tokens_count = oauth_tokens_ds.count %>
<% if tokens_count.zero? %>
  <p>No oauth tokens yet!</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Refresh Token</th>
        <th scope="col">Expires in</th>
        <th scope="col">Revoked At</th>
        <th scope="col">Scopes</th>
        <th scope="col"><span class="badge badge-pill badge-dark"><%= tokens_count %></span>
      </tr>
    </thead>
    <tbody>
      <% oauth_tokens_ds.each do |oauth_token| %>
        <tr>
          <td><%= oauth_token[rodauth.oauth_tokens_token_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_refresh_token_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_expires_in_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_revoked_at_column] %></td>
          <td><%= oauth_token[rodauth.oauth_tokens_scopes_column] %></td>
          <td>
            <% if !oauth_token[rodauth.oauth_tokens_revoked_at_column] %>
              <%= form_tag rodauth.revoke_path, method: :post do %>
               <%= hidden_field_tag :token_type_hint, "access_token" %>
                <%= hidden_field_tag :token, oauth_token[rodauth.oauth_tokens_token_column] %>
                <%= submit_tag "Revoke", class: "btn btn-danger" %>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
