<div>
  <h1><%= @oauth_application[:name] %></h1>

  <dl>
    <dt>Description: </dt>
    <dd><%= @oauth_application[:description] %></dd>
    <dt>Homepage URL: </dt>
    <dd><%= @oauth_application[:homepage_url] %></dd>
    <dt>Client ID: </dt>
    <dd><%= @oauth_application[:client_id] %></dd>
    <dt>Redirect URL: </dt>
    <dd><%= @oauth_application[:redirect_uri] %></dd>
    <dt>Scopes: </dt>
    <dd><%= @oauth_application[:scopes] %></dd>
  </dl>
</div>